<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>CurrentOrderServlet</servlet-name>
        <servlet-class>findingorder.CurrentOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentOrderServlet</servlet-name>
        <url-pattern>/setOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindingOrderServlet</servlet-name>
        <servlet-class>findingorder.FindingOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindingOrderServlet</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>driver.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePreviousOrderServlet</servlet-name>
        <servlet-class>history.UpdatePreviousOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePreviousOrderServlet</servlet-name>
        <url-pattern>/updatePreviousOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDriverHistoryServlet</servlet-name>
        <servlet-class>history.UpdateDriverHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDriverHistoryServlet</servlet-name>
        <url-pattern>/updateDriverHistory</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>profile.editProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /Users/lelouch/Documents/informatika/matkul/semester5/untitled3/web/img/
        </param-value>
    </context-param>
</web-app>
